.about_banner_container {
  width: 85%;
  margin: 0 auto;
  position: relative;
  user-select: none;
}

.about_banner_container .abt_header {
  width: 100%;
  padding: 56px 0;
  text-align: center;
  user-select: none;

}

.about_banner_container .abt_header p {
  font-size: 48px;
  color: #fff;
  font-family: diplomata;
  font-variant: small-caps;
}

.about_banner_container .abt_header .abt_links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
}

.about_banner_container .abt_header .abt_links span {
  color: #fff;
  padding: 0 10px;
  font-size: 28px;
  font-family: kanit_semi;
  opacity: 0.7;
  transition: 0.3s ease-out;
  position: relative;
}

.about_banner_container .abt_header .abt_links span:nth-child(1):after {
  content: ' ';
  position: absolute;
  width: 350px;
  height: 1px;
  background-color: #e7e4e4;
  transform: rotate(-5deg) translateY(-50%);
  left: -120px;
  top: -20px;
}

.about_banner_container .abt_header .abt_links span:nth-child(1)::before {
  content: ' ';
  position: absolute;
  width: 350px;
  height: 1px;
  background-color: #e7e4e4;
  transform: rotate(5deg) translateY(-50%);
  left: -120px;
  top: -20px;
}

.about_banner_container .abt_header .abt_links span:nth-child(2) {
  color: #fff;
  opacity: 1;
  letter-spacing: 3px;
  padding: 0;
}

.about_banner_container .abt_header .abt_links span:hover {
  opacity: 1;
}

.about_banner_container .abt_header .abt_links:hover span:nth-child(2) {
  opacity: 0.7;
}

.abt_desc {
  width: 100%;
  padding: 36px 0;
}

.abt_desc .abt_git {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.abt_desc .abt_git .abt_gt_wrap {
  /* height: 400px; */
  margin-bottom: 24px;
}

.abt_desc .abt_git .abt_gt_wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.c_sp .ig_span {
  color: #fff;
  font-size: 18px;
  font-family: poppins;
  opacity: 0.8;
  letter-spacing: 1.1px;
  word-spacing: 1.2px;
  max-width: 95%;
}


.git_img_modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  transform: translateX(-50% -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.git_ig_sec {
  width: 1200px;
  max-width: 1200px;
  height: 600px;

  position: relative;
  transition: 0.4s ease-out;
  animation: scale-up-bottom 0.2s ease-out;
}

.gt_cross {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}


.mg_wrap {
  width: 100%;
  height: 100%;
}

.mg_wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes scale-up-bottom {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 100%;
  }

  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}