body.active {
  overflow-y: hidden;
}

.project_container {
  margin: 0 auto;
  padding: 56px 0 80px 0;
  position: relative;
}

.project_title {
  width: 85%;
  margin: 0 auto;
}

.project_carousel {
  width: 85%;
  margin: 0 auto;
}

.project_carousel_card {
  padding: 0 4px;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    padding-left: 8px;
  }
}

.project_carousel_card:hover .pro_desc .pro_desc_head {
  transform: translateX(14px);
  color: #daa520;
}

.pro_img_wrap {
  width: 100%;
  height: 300px;

  @media screen and (max-width: 767px) {
    height: auto;
  }
}

.pro_img_wrap img {
  height: 100%;
  width: 100%;
  filter: grayscale(90%);
  transition: all 0.2s ease-out;
  opacity: 0.6;

  @media screen and (max-width: 767px) {
    height: 230px;
    object-fit: contain;
  }
}

.project_carousel_card:hover img {
  filter: grayscale(0);
  opacity: 0.9;
}

.pro_desc {
  width: 100%;
  margin-top: 20px;
  opacity: 0.8;
  position: relative;
}

.pro_desc_head {
  color: var(--color-white);
  font-family: diplomata;
  font-size: 14px;
  margin-bottom: 16px;
  letter-spacing: 1.1px;
  transition: all 0.3s ease-out;
}

.project_carousel_card:hover .pro_desc span {
  transform: translate(10px, -10%);
  opacity: 1;
  color: #daa520;
}

.pro_desc span {
  position: absolute;
  left: -10px;
  transform: translateY(-10%);
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.2s;
}

.pro_desc_para {
  color: var(--color-white);
  font-family: kanit_semi;
  letter-spacing: 1.1px;
  font-size: 16px;
  max-width: 96%;

  @media screen and (max-width: 767px) {
    max-width: 100%;
  }
}

.project_modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.modal_overlay {
  background-color: hsla(227, 35%, 15%, 0.3);
  height: 100%;
  display: flex;
  align-items: center;
}

.modal_window {
  width: 85%;
  height: 650px;
  margin-inline: auto;
  background: #fff;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  position: relative;
  padding: 30px 15px;
  animation: scale-up-hor-center 0.1s ease-out;
}

@keyframes scale-up-hor-center {
  0% {
    transform: scaleX(0.4);
  }

  100% {
    transform: scaleX(1);
  }
}

.window_objects {
  background-color: #ccc;
}

.window_objects .video_wrap {
  width: 100%;
  height: 100%;
}

.window_objects .video_wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.window_close_btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.object_title {
  padding: 20px 5px 10px;
}

.object_title .obj_head {
  margin-bottom: 16px;
  font-family: kanit_semi;
  line-height: 1;
}

.object_title .obj_para {
  font-family: kanit_regular;
  font-size: 16px;
  line-height: 1.3;
}

.g1 {
  grid-column: 1/4;
  grid-row: 1/3;
}

.g2 {
  grid-row: 1/4;
}

.g3 {
  grid-column: 1/4;
}

.g4 {
  grid-row: 4/4;
  grid-column: 1/3;
}

.g5 {
  grid-row: 4/4;
  grid-column: 3/5;
}

.g8 {
  grid-column: 1/5;
  grid-row: 5/6;
}

.project_carousel .slick-slider button {
  min-height: 54px;
}

.project_carousel .slick-slider .slick-arrow {
  top: -15%;
}

.project_carousel .slick-slider .slick-prev {
  left: 90%;
  transform: rotate(180deg);

  @media screen and (max-width: 768px) {
    left: 85%;
  }
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.project_carousel .slick-slider .slick-next {
  right: 5%;

  @media screen and (max-width: 768px) {
    right: 8%;
  }
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.project_carousel .slick-prev:before,
.project_carousel .slick-next:before {
  content: "➣";
  font-size: 70px;
  font-weight: 900;

  @media screen and (max-width: 475px) {
    font-size: 50px;
  }
}

.project_carousel .slick-dots {
  display: none !important;
}
