.banner_container {
  width: 100%;
  display: flex;
  padding-bottom: 80px;
  position: relative;

}

.abso_skull {
  position: absolute;
  top: -10%;
  left: -24%;
}

.abso_skull img {
  height: 600px;
  opacity: 0.2;
  filter: drop-shadow(16px 16px 20px #fff) invert(75%);
  z-index: -10;
}

.banner_head,
.banner_img {
  flex: 1;
  /* border: 1px solid #fff; */
  user-select: none;
}

.banner_head .banner_main_headline {
  width: 100%;
  margin-bottom: 56px;

}

.banner_head .banner_main_headline .line_first,
.banner_head .banner_main_headline .line_second {
  color: var(--color-white);
  font-size: 85px;
  font-family: 'kanit', serif;
  font-weight: 900;
  opacity: 0.9;
}

.banner_subline {
  margin-bottom: 56px;
  text-align: left;
}

.banner_subline .subline_1 {
  font-size: 18px;
  font-family: diplomata;
  color: var(--color-white);
  opacity: 0.7;
  letter-spacing: 1.1px;
  line-height: 22px;
  margin-bottom: 36px;
}

.banner_subline .subline_2 {
  font-size: 16px;
  font-family: kanit_med;
  line-height: 1.1;
  color: var(--color-white);
  opacity: 0.8;
  letter-spacing: 1.1px;
  word-spacing: 2px;
  line-height: 22px;
}

.banner_resume {
  width: 100%;
  margin-bottom: 36px;
}

.banner_resume .resume_btn {
  width: fit-content;
  border: 1px solid #3b3d49;
  transition: all .5s ease;

  padding-left: 60px;
  padding-right: 60px;
  height: 85px;
  line-height: 70px;

  background-color: transparent;
  border-radius: 42px;
  outline: none;
  color: var(--color-white);
  font-size: 18px;


  cursor: pointer;
  display: flex;
  align-items: center;
}

.download_icon {
  transition: all 0.4s ease-out;
  margin-left: 10px;
}

.banner_resume .resume_btn:hover .download_icon {
  margin-left: 15px;
}

.banner_img {
  width: 100%;
}

.banner_img_wrap {
  width: 100%;
  height: 600px;
  object-fit: contain;
}

.banner_img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(16px 16px 20px #fff) invert(75%);
}

.personal_img_carousel {
  width: 600px;
  border: 1px solid red;
  margin: 0 auto;
}


.personal_img_carousel .slider-wrapper .slides {
  text-align: center;
  /* width: 400px; */
  height: 250px;
  color: #fff;
  border: 1px solid #fff;
}

.personal_img_carousel .slider-wrapper .slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: grabbing;
  transition: all 0.2s ease-out;
}


@media (max-width: 1440px) {
  .banner_container {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1540px) {
  .banner_container {
    max-width: 90%;
    margin: 0 auto;
  }
}