.head_title_cont {
  width: fit-content;
}

.head_title_cont .head_title {
  font-size: 65px;
  text-transform: capitalize;
  color: var(--color-white);
  margin-bottom: 85px;
  font-family: cormorant_bold;
}